:host {

    .content {

        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }
        .create-user-btn{
            width: 15%;
            margin: 2em auto auto auto;
        }

        .example-h2 {
            margin: 10px;
          }
          
          .example-section {
            display: flex;
            align-content: center;
            align-items: center;
            height: 60px;
          }
          
          .example-margin {
            margin: 0 10px;
          }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}