<div id="boards" fxLayout="column" fxLayoutAlign="start center" fxFlex fusePerfectScrollbar>

    <div class="header pt-44 pt-md-88" fxLayout="row" fxLayoutAlign="center center" fxFlex="0 0 auto"
        [@animate]="{value:'*',params:{delay:'100ms'}}">
    </div>

    <div class="board-list" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center"
        [@animateStagger]="{value:'50'}">

        <div class="board-list-item" *ngFor="let board of boards" routerLink="/questionnaire/post" fxLayout="column"
            fxLayoutAlign="center center" [@animate]="{value:'*',params:{y:'100%'}}">
            <mat-icon class="s-56">library_books</mat-icon>
            <div class="board-name">{{board.name}}</div>
        </div>

    </div>
</div>