.hitory-table {
    width: 80%;
    margin: 5% auto;
}

.search-history-panel {
    width: 66%;
    margin: 0 auto;
}
.search-panel-content {
    margin-bottom: 0px;
}
.history-card {
    max-width: 100%;
    margin-bottom: 3%;
  }
  