@import "src/@fuse/scss/fuse";

#forms {

    .close-dialog {
        button {
            float: right;
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            box-shadow: none;
        }
       
    }
}
